.exhibition{
  background-color: rgb(245,245,245);
  margin: 0 auto;
  width: 100%;
  padding-top: 5px;
}

// header
header{
  height: 100px;
  margin-top: 30px;
}
.exhibition__logo{
  height: 90px;
  width: 220px;
  display: block;
  margin: 0 auto;
}

// mainの大枠
main{
  background-color: rgb(255,255,255);
  width: 55%;
  margin: 0 auto;
}
.exhibition__container__header{
  height: 90px;
  font-size: 22px;
  font-weight: 900;
  text-align: center;
  line-height: 90px;
  border-bottom: 2px solid rgb(245,245,245);
}

// 画像up box
.upload__box{
  height: 350px;
  &__head{
    font-size: 16px;
    font-weight: 900;
    &__sub{
      font-size: 12px;
    }
  }
  &__images{
    height: 200px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  &__image{
    width: 30%;
    border: 1px dotted gray;
    background-color: rgb(245,245,245);
  }
}

// 商品名box
.product__box{
  height: 350px;
}
.name__input{
  width: 100%;
  height: 50px;
  padding: 10px 16px 8px;
}
.description__input{
  width: 100%;
  height: 150px;
  padding: 10px;
}

// 詳細box
.detail__box{
  height: 450px;
}
.brand__input{
  width: 98%;
  height: 50px;
  padding: 10px 16px 8px;
}

// 配送box
.shipping__box{
  height: 450px;
}

// 価格box
.price__box{
  height: 330px;
  display: flex;
}

.price__form{
  &__right{
    display: flex;
    justify-content: space-between;
    width: 50%;
  }
}
.yen{
  margin-left: 15px;
  padding: 15px 0;
}
.price__input{
  width: 80%;
  padding: 8px 13px;
  text-align: right;
}
.commission__form{
  &__left{
    font-size: 14px;
  }
}
.profit__form{
  padding: 24px 0;
  &__left{
    font-weight: bold;
  }
}

// 出品ボタンbox
.exhibition__btn__box{
  padding: 40px;
  font-size: 14px;
}
.exhibition__area{
  padding-top: 40px;
}
.exhibition__btn{
  background-color: rgb(235,55,49);
  width: 100%;
}
.return__area{
  padding-top: 20px;
}
.return__btn{
  background-color: rgb(170,170,170);
  width: 50%;
  display: block;
  margin: 0 auto;
}
.determine__btn{
  color: white;
  height: 50px;
  border-radius: 8px;
  font-size: larger;
}

// footer
footer{
  width: 35%;
  margin: 0 auto;
  padding: 30px 0;
}
.footer__links{
  height: 30px;
  display: flex;
  justify-content: space-between;
}
.footer__link{
  font-size: 15px;
  text-decoration: none;
  color: rgb(51,51,51);
}
.footer__logo{
  display: block;
  margin: 0 auto 10px;
}
.footer__last{
  text-align: center;
}







// content__box共通装飾
.exhibition__content__box{
  padding: 40px;
  border-bottom: 2px solid rgb(245,245,245);
}
.section__head{
  font-size: 14px;
  color: rgb(136,136,136);
  width: 40%;
}
.form__box{
  width: 100%;
  height: calc(100% - 14px);
  margin-top: 12px;
}
.form__group1{
  margin-top: 12px;
}
.form__group2{
  height: 25%;
}
.from__group3{
  height: 33.3%;
  padding: 18px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgb(245,245,245);
}

// Qアイコン
.question__icon{
  color: rgb(0,153,229);
}

// 必須・任意表示
.form-description{
  font-size: 13px;
  font-weight: bolder;
  color: rgb(245,245,245);
  padding: 1px 3px;
  margin-left: 5px;
  border-radius: 3px;
}
.form-require{
  background: #ea352d;
}
.form-optional{
  background-color: #bfbfbf;
}

// select画面
.select{
  margin-top: 10px;
}


.exhibition__select{
  width: 700px;
  height: 2.2rem;
}