.product-show__item-top-img{
  object-fit: cover;
  height: 346px;
  width: 560px;
}

.product-show__item-sub-img{
  object-fit: cover;
  height: 87px;
  width: 140px;
}

.product-show-link{
  text-decoration: none;
  color: #3CCACE;
}

.product-show__links-link{
  text-decoration: none;
  color: #3CCACE;
}

.product-show__back-link{
  margin: 24px 0 8px;
  color: #3CCACE;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
}

.product-show{
  background: #f8f8f8;
  &__main{
    padding: 40px;
    margin: 0 auto;
  }
  &__content{
    width: 700px;
    margin: 0 auto;
  }
  &__top-content{
    margin: 0;
    padding: 0;
  }
  &__item-box{
    background-color: #fff;
    padding: 24px 40px 40px;

    &--name{
      text-align: center;
      font-weight: bold;
      font-size: 24px;
    }
    &__body{
      margin-top: 16px;

      &--top-img{
        width: 560px;
        align-items: center;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
      }

      &--list{
        display: flex;
        justify-content: center;
        margin-top: 10px;
      }

      &--sub-img{
        margin: 0 10px 0 0;
      }
    }

    &--price{
      margin: 24px 0 24px;
      text-align: center;
      display: flex;
      flex-direction: column;

      >span{
        font-size: 40px;
        font-weight: bold;
        margin: 0 10px 0 0;
      }
    }

    &--price-detail{
      font-size: 16px;
      font-weight: normal;
    }

    &--item-detail{
      line-height: 1.5;
      font-size: 18px;
      margin-bottom: 30px;
    }

    &--table{
      width: 100%;
      height: 375px;
      border-collapse: collapse;
      border: 1px solid #f8f8f8;
    }

    &--table-body{
      display: table-row-group;
      vertical-align: middle;
      border-color: inherit;
    }

    &--table-list{

    }

    &--table-title{
      width: 20%;
      background-color: #eee;
      font-weight: 400;
      padding: 8px;
      border: 1px solid #dedede;
      font-size: 14px;
      text-align: center;
    }

    &--table-data{
      width: 61%;
      padding: 15px 15px;
      border: 1px solid #dedede;
      font-size: 14px;
    }
  }

  &__links{
    margin-top: 15px;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
}