%ul.header_brand{id:"item"}
  %li.header_brand_list
    %h3
      %a{:href => "#"} シャネル
  %li.header_brand_list
    %h3
      %a{:href => "#"} ナイキ
  %li.header_brand_list
    %h3
      %a{:href => "#"} ルイ ヴィトン
  %li.header_brand_list
    %h3
      %a{:href => "#"} シュプリーム
  %li.header_brand_list
    %h3
      %a{:href => "#"} アディダス
  %li.header_brand_list
    %h3
      %a{:href => "#"} ブランド一覧
